<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.arizona.cast.austinramsay.glucosemonitor">

    <permission
        android:name="edu.arizona.cast.austinramsay.glucosemonitor.PRIVATE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="edu.arizona.cast.austinramsay.glucosemonitor.PRIVATE" />

    <application
        android:name=".GlucoseApplication"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".NotificationReceiver"
            android:permission="edu.arizona.cast.austinramsay.glucosemonitor.PRIVATE"
            android:exported="false">
            <intent-filter android:priority="-999">
                <action
                    android:name="edu.arizona.cast.austinramsay.glucosemonitor.SHOW_NOTIFICATION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>